@import '../../../styles/css_var';

.home {
  padding: 0px;
  .about-banner-container {
    background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-banner {
      color: $dark-bkgd;
      max-width: 700px;
      width:100%;
      padding: 40px;
      h1,h2,h3,h4,h5,h6,p {color: $dark-bkgd;}
      p {
        font-size: 1.1em;
      }
    }
  }
  .about-choice-container {
    background-color: $white;
    padding: 20px 5% 20px 5%;
    @media screen and (max-width: $phoneTall) { padding: 20px 0px 10px 0px; }
    .about-choice {
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
    }
  }
  .about-choice-container {
    .about-choice {
      .container {
        width:100%;
        padding:10px;
        .div-circle {
          background-color: $div-circle-bkgd;
          border-radius: 50%;
          cursor: pointer;
          -webkit-box-shadow: 0 0 10px 3px $dark-bkgd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow:    0 0 10px 3px $dark-bkgd;  /* Firefox 3.5 - 3.6 */
          box-shadow:         0 0 10px 3px $dark-bkgd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
          // border: 5px solid $dark-bkgd;
          margin-top:10px;
          margin-bottom:10px;
        }
        .div-circle-big {
          padding: 10px;
          width: 40vw; height: 40vw;
          max-width: 280px; max-height: 280px;
          min-width: 161px; min-height: 161px;
        }
        .div-circle-small {
          padding: 7px;
          width: 32vw; height: 32vw;
          max-width: 200px; max-height: 200px;
          min-width: 120px; min-height: 120px;
        }
      }
    }
  }
  .about-intro-container{
    background-color: $white;
    // background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-intro {
      max-width: 900px;
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
    }
  }
  .about-feature-container{
    background-color: $white-bkgd;
    // background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-feature {
      max-width: 900px;
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
      h4 {margin-bottom:0px!important;}
      .column {padding:10px;}
    }
  }
  .about-team-container {
    background-color: $dark-bkgd;
    padding: 10px 5% 10px 5%;
    font-weight: 300;
    .about-team {
      max-width: 700px;
      width:100%;
      padding: 15px;
      h2 {
        color: $bright-bkgd;
        margin-bottom:30px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      h4,p {
        color: $white;
        max-width: 300px;
      }
      .title {
        color: #AAA;
        display: block;
      }
      .person-container {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
  .contact-container {
    background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .contact {
      color: $dark-bkgd;
      max-width: 700px;
      width:100%;
      padding: 40px;
      h1,h2,h3,h4,h5,h6,p {color: $dark-bkgd;}
      .link {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}