.social-button-container {
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 7px; }
  .social-button-container img {
    min-height: 36px;
    max-height: 36px;
    width: auto; }
