$bright-bkgd: #f0ce00;
$dark-bkgd: #101010;
$white-bkgd: transparent;
$white: #FDFDFD;
$black: $dark-bkgd;
$off-white: #F0F0F0;
$light-gray: #CCCCCC;
$green: #2ecc71;
$blue: #005C5D;
$link-blue: #337ab7;
$red: #f06060;

$div-circle-bkgd: $bright-bkgd;
$div-circle-border: $dark-bkgd;

$jobsBkgd: transparent;
$jobContainerBkgd: $white;
$jobContainerBoxShadow: $off-white;
$applyButtonBorder: $white;
$applyButtonBkgd: $bright-bkgd;
$applyButtonColor: white;

$projectsBkgd: $bright-bkgd;
$projectContainerBkgdOdd: $white;
$projectContainerColorOdd: $dark-bkgd;
$projectContainerBkgdEven: $dark-bkgd;
$projectContainerColorEven: $white;
$projectContainerBoxShadow: $off-white;

$date-tag-background: $light-gray;
$date-tag-color: $dark-bkgd;
$job-color: #666666;

$phoneTall: 544px; /* originally 575 */
$phoneWide: 767px;
$tablet: 1023px;
$desktop: 1024px;