.flex-row {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-col {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-hCenter {
  justify-content: center; }

.flex-hStart {
  justify-content: flex-start; }

.flex-hEnd {
  justify-content: flex-end; }

.flex-vCenter {
  align-items: center; }

.flex-vStart {
  align-items: flex-start; }

.flex-vEnd {
  align-items: flex-end; }

.flex-vhCenter {
  justify-content: center;
  align-items: center; }

.flex-noWrap {
  flex-wrap: nowrap; }

/*
.flex-row-hCenter {@extend .flex-row; justify-content: center;}
.flex-col-hCenter {@extend .flex-col; justify-content: center;}
.flex-vCenter {align-items: center;}
.flex-row-vCenter {@extend .flex-row; align-items: center;}
.flex-col-vCenter {@extend .flex-col; align-items: center;}
.flex-vhCenter {@extend .flex-hCenter; @extend .flex-vCenter;}
.flex-row-vhCenter {@extend .flex-row; @extend .flex-vhCenter;}
.flex-col-vhCenter {@extend .flex-col; @extend .flex-vhCenter;}
*/
/* originally 575 */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #F0F0F0;
  margin: 0;
  padding: 50px 0px 0px 0px;
  min-width: 235px; }

section {
  padding: 20px; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.full-height {
  height: 100%; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline-block {
  display: inline-block; }

.pre-line {
  white-space: pre-line; }

.red-text {
  color: #f06060; }

p.link, span.link, span[link] {
  color: #337ab7;
  cursor: pointer; }

p.link:hover, span.link:hover, span[link]:hover {
  text-decoration: underline; }

.ui.green.button {
  background-color: #2ecc71 !important; }

.ui.red.button {
  background-color: #f06060 !important; }

.yellow-button {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  background-color: #f0ce00;
  color: #FDFDFD; }

.yellow-button:focus, .yellow-button:hover {
  background-color: #101010;
  color: #f0ce00; }

.modal-footer {
  padding: 8px 8px 8px 8px !important; }
  .modal-footer button {
    margin-left: 5px;
    margin-right: 5px; }

div.separator-container {
  padding: 0px 10px 0px 10px; }
  div.separator-container div.separator {
    border: 0.5px solid #F0F0F0;
    background-color: #F0F0F0;
    width: calc(100% - 122.5px); }

/*********TEXT*********/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', cursive; }

p {
  white-space: pre-line; }

.text-red {
  color: #f06060; }

.search {
  font-size: 16px;
  font-weight: 300;
  padding: 0px 10px 20px 10px; }
  .search .search-view-type span.link {
    margin: auto 5px;
    display: inline-block;
    text-decoration: underline; }
  .search .search-view-type span.active {
    font-weight: 400; }

.social-button, .social-button:active, .social-button:visited {
  font-size: 22px;
  cursor: pointer;
  color: #101010; }

@media screen and (max-width: 544px) {
  .apply-job-modal.modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0px; }
    .apply-job-modal.modal-dialog .modal-content > .modal-body {
      height: calc(100vh - 41px - 45px - 80px); } }

@media screen and (min-width: 544px) {
  .apply-job-modal.modal-dialog {
    width: 90vw !important;
    max-width: 600px;
    margin: 30px auto; }
    .apply-job-modal.modal-dialog .modal-content > .modal-body {
      height: calc(100vh - 41px - 45px - 70px); } }

.apply-job-modal.modal-dialog .modal-content > .modal-body {
  overflow: scroll; }
  .apply-job-modal.modal-dialog .modal-content > .modal-body h1, .apply-job-modal.modal-dialog .modal-content > .modal-body h2, .apply-job-modal.modal-dialog .modal-content > .modal-body h3, .apply-job-modal.modal-dialog .modal-content > .modal-body h4, .apply-job-modal.modal-dialog .modal-content > .modal-body h5, .apply-job-modal.modal-dialog .modal-content > .modal-body h6 {
    font-family: 'Open Sans', "sans-serif";
    font-weight: bold; }
  .apply-job-modal.modal-dialog .modal-content > .modal-body p.indented {
    margin-left: 10px !important; }

.apply-job-modal.modal-dialog .modal-content > .modal-body.applying {
  background-color: #101010;
  color: white; }
  .apply-job-modal.modal-dialog .modal-content > .modal-body.applying label, .apply-job-modal.modal-dialog .modal-content > .modal-body.applying .label {
    font-weight: 300; }
  .apply-job-modal.modal-dialog .modal-content > .modal-body.applying button {
    background-color: #FDFDFD;
    color: #101010; }

.apply-job-modal.modal-dialog .modal-header {
  border-radius: 5px 5px 0px 0px;
  background-color: #f0ce00;
  color: #101010;
  padding: 10px 15px;
  font-weight: bold; }

.apply-job-modal.modal-dialog .modal-footer {
  border-radius: 0px 0px 5px 5px; }
  .apply-job-modal.modal-dialog .modal-footer button {
    border: 0px !important; }
  .apply-job-modal.modal-dialog .modal-footer button.transparent {
    background-color: transparent; }
  .apply-job-modal.modal-dialog .modal-footer button.inverse {
    background-color: #101010;
    color: #F0F0F0; }

.apply-job-modal.modal-dialog .modal-footer.black {
  background-color: #101010; }
  .apply-job-modal.modal-dialog .modal-footer.black button {
    color: #FDFDFD; }
  .apply-job-modal.modal-dialog .modal-footer.black button.inverse {
    background-color: #FDFDFD;
    color: #101010; }

.job-search-bar {
  position: fixed;
  top: 51px;
  left: 0px;
  width: 100%;
  height: 25px;
  z-index: 7;
  color: #101010;
  background-color: rgba(245, 245, 245, 0.5); }
  .job-search-bar .job-type-container {
    flex-wrap: nowrap;
    height: 100%;
    min-width: 330px;
    overflow: visible; }
  .job-search-bar .title {
    padding: 0px 10px;
    height: 100%;
    font-size: 12px;
    text-align: center; }
  .job-search-bar .job-type {
    padding: 0px 10px;
    height: 100%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
    white-space: nowrap; }
  .job-search-bar .active {
    background-color: #101010;
    color: #F0F0F0; }

.page-number-container .page-number {
  display: inline-block;
  color: #005C5D;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.page-number-container .page-number.active {
  background-color: black;
  color: white; }

.clearfix {
  clear: both; }
