$bright-bkgd: #f0ce00;
$dark-bkgd: #101010;
$white-bkgd: transparent;
$white: white;
$off-white: #EEE;

$div-circle-bkgd: $bright-bkgd;
$div-circle-border: $dark-bkgd;

$jobsBkgd: $off-white;
$jobContainerBkgd: $white;
$jobContainerBoxShadow: $off-white;
$applyButtonBorder: $white;
$applyButtonBkgd: $bright-bkgd;
$applyButtonColor: white;
$modalBkgd: $bright-bkgd;

$projectsBkgd: $bright-bkgd;
$projectContainerBkgdOdd: $white;
$projectContainerColorOdd: $dark-bkgd;
$projectContainerBkgdEven: $dark-bkgd;
$projectContainerColorEven: $white;
$projectContainerBoxShadow: $off-white;
$applyButtonBorder: $white;
$applyButtonBkgd: $bright-bkgd;
$applyButtonColor: white;
$modalBkgd: $bright-bkgd;

$phoneTall: 544px; /* originally 575 */
$phoneWide: 767px;
$tablet: 1023px;
$desktop: 1024px;

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 50px 0px 0px 0px;
}

section {
 padding: 20px;
}

.full-width {width: 100%;}
.text-center {text-align: center;}
.inline-block {display: inline-block;}

.yellow-button {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  background-color: $bright-bkgd;
  color: $white;
}
.yellow-button:focus, .yellow-button:hover {
  background-color: $dark-bkgd;
  color: $bright-bkgd;
}

.modal-footer {
  padding: 0px 8px 8px 8px !important;
  border: 0px !important;
}

/*********TEXT*********/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous', cursive;
}


/*********FLEX*********/
.flex-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-hCenter {justify-content: center;}
.flex-vCenter {align-items: center;}
.flex-vhCenter {justify-content: center; align-items: center;}
/*
.flex-row-hCenter {@extend .flex-row; justify-content: center;}
.flex-col-hCenter {@extend .flex-col; justify-content: center;}
.flex-vCenter {align-items: center;}
.flex-row-vCenter {@extend .flex-row; align-items: center;}
.flex-col-vCenter {@extend .flex-col; align-items: center;}
.flex-vhCenter {@extend .flex-hCenter; @extend .flex-vCenter;}
.flex-row-vhCenter {@extend .flex-row; @extend .flex-vhCenter;}
.flex-col-vhCenter {@extend .flex-col; @extend .flex-vhCenter;}
*/

.navbar {
  .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 50px;
    // display: block;
    img {
      display: block;
      height: 100%;
      width: auto;
      cursor: pointer;
    }
  }
}

.home {
  padding:0;
  .about-banner-container {
    background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-banner {
      color: $dark-bkgd;
      max-width: 700px;
      width:100%;
      padding: 40px;
      h1,h2,h3,h4,h5,h6,p {color: $dark-bkgd;}
      p {
        font-size: 1.1em;
      }
    }
  }
  .about-choice-container {
    background-color: $white-bkgd;
    padding: 20px 5% 20px 5%;
    .about-choice {
      max-width: 900px;
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
      .container {
        width:100%;
        padding:10px;
        .div-circle {
          background-color: $div-circle-bkgd;
          border-radius: 50%;
          cursor: pointer;
          -webkit-box-shadow: 0 0 10px 3px $dark-bkgd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow:    0 0 10px 3px $dark-bkgd;  /* Firefox 3.5 - 3.6 */
          box-shadow:         0 0 10px 3px $dark-bkgd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
          // border: 5px solid $dark-bkgd;
          margin-top:10px;
          margin-bottom:10px;
          .project-1 {
            display: inline-block;
            font-family: Righteous,cursive;
            font-size: 18px;
            font-weight: 500;
            // line-height: 19.8px;
          }
          .project-2 {
            display: inline-block;
          }
        }
        .div-circle-big {
          padding: 10px;
          width: 40vw; height: 40vw;
          max-width: 280px; max-height: 280px;
          min-width: 161px; min-height: 161px;
        }
        .div-circle-small {
          padding: 7px;
          width: 32vw; height: 32vw;
          max-width: 200px; max-height: 200px;
          min-width: 120px; min-height: 120px;
        }
      }
    }
  }
  .about-intro-container{
    background-color: $white-bkgd;
    // background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-intro {
      max-width: 900px;
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
    }
  }
  .about-feature-container{
    background-color: $white-bkgd;
    // background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .about-feature {
      max-width: 900px;
      padding: 0px;
      h1,h2,h3,h4,h5,h6,p {color: black}
      h4 {margin-bottom:0px!important;}
      .column {padding:10px;}
    }
  }
  .about-team-container {
    background-color: $dark-bkgd;
    padding: 10px 5% 10px 5%;
    .about-team {
      max-width: 700px;
      width:100%;
      padding: 40px;
      h2 {
        color: $bright-bkgd;
        margin-bottom:30px;
      }
      img {
        width: 100px;
        height: 100px;
      }
      h4,p {color: white;}
      .title {
        color: #AAA;
        display: block;
      }
      .person-container {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .contact-container {
    background-color: $bright-bkgd;
    padding: 20px 5% 20px 5%;
    .contact {
      color: $dark-bkgd;
      max-width: 700px;
      width:100%;
      padding: 40px;
      h1,h2,h3,h4,h5,h6,p {color: $dark-bkgd;}
      .link {
        cursor: pointer;
      }
    }
  }
}

.jobs {
  background-color: $jobsBkgd;
  padding-top: 30px;
  padding-bottom: 30px;
  .job-container {
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: $jobContainerBkgd;
    color: $dark-bkgd;
    -webkit-box-shadow: 0 0 5px 0px $jobContainerBoxShadow;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 5px 0px $jobContainerBoxShadow;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 5px 0px $jobContainerBoxShadow;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    .thumbnail-container {
      padding: 10px;
      @media (max-width: $phoneWide) {
        width: 100%;
      }
      @media (min-width: $phoneWide) {
        width:35%;
      }
      .thumbnail {
        padding: 0px;
        margin: 0px;
        @media (max-width: $phoneWide) {
          width: 130px; height: 130px;
        }
        @media (min-width: $phoneWide) {
          width: auto;
          height:auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .detail-container {
      overflow-wrap: break-word;
      padding-left: 15px;
      padding-right: 15px;
      @media (max-width: $phoneWide) {
        width: 100%;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-orient: vertical;
        -webkit-box-direction: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      @media (min-width: $phoneWide) {
        width: 64%;
      }
      .apply-button {
        background-color: $applyButtonBkgd;
        border: 1px solid $applyButtonBorder;
        color: $applyButtonColor;
      }
    }
  }
}

.apply-job-modal {
  background-color: $modalBkgd;
  .modal-body {
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Open Sans', "sans-serif";
      font-weight: bold;
    }
    p {
      margin-left: 10px !important;
    }
  }
}

.projects {
  background-color: $projectsBkgd;
  color: $white !important;
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: $phoneTall) {
    .project-row>div:nth-child(odd)>.project-container {
      background-color: $projectContainerBkgdOdd;
      color: $projectContainerColorOdd;
    }
    .project-row>div:nth-child(even)>.project-container {
      background-color: $projectContainerBkgdEven;
      color: $projectContainerColorEven;
    }
  }
  @media (min-width: $phoneTall) {
    .project-row:nth-child(even)>div:nth-child(odd)>.project-container {
      background-color: $projectContainerBkgdOdd;
      color: $projectContainerColorOdd;
    }
    .project-row:nth-child(even)>div:nth-child(even)>.project-container {
      background-color: $projectContainerBkgdEven;
      color: $projectContainerColorEven;
    }
    .project-row:nth-child(odd)>div:nth-child(even)>.project-container, .project-row>div:nth-child(4n+1)>.project-container {
      background-color: $projectContainerBkgdOdd;
      color: $projectContainerColorOdd;
    }
    .project-row:nth-child(odd)>div:nth-child(odd)>.project-container, .project-row>div:nth-child(4n+3)>.project-container {
      background-color: $projectContainerBkgdEven;
      color: $projectContainerColorEven;
    }
  }

  .project-container {
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0px $jobContainerBoxShadow;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 5px 0px $jobContainerBoxShadow;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 5px 0px $jobContainerBoxShadow;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    .thumbnail-container {
      padding: 10px;
      @media (max-width: $phoneWide) {
        width: 100%;
      }
      @media (min-width: $phoneWide) {
        width:35%;
      }
      .thumbnail {
        padding: 0px;
        margin: 0px;
        @media (max-width: $phoneWide) {
          width: 130px; height: 130px;
        }
        @media (min-width: $phoneWide) {
          width: auto;
          height:auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .detail-container {
      overflow-wrap: break-word;
      padding-left: 15px;
      padding-right: 15px;
      @media (max-width: $phoneWide) {
        width: 100%;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-orient: vertical;
        -webkit-box-direction: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      @media (min-width: $phoneWide) {
        width: 64%;
      }
      .show-me-more-button, .show-me-more-button:hover {
        background-color: $bright-bkgd;
        color: $dark-bkgd;
        border: 0px;
      }
    }
  }
}

.clearfix {clear: both;}
