/* originally 575 */
.job-container {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px;
  border-radius: 5px;
  background-color: #FDFDFD;
  color: #101010;
  font-size: 14px; }
  .job-container h1, .job-container h2, .job-container h3, .job-container h4, .job-container h5, .job-container h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  .job-container .job-thumbnail {
    width: 30%;
    max-width: 125px;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    border-radius: 10px;
    border: 0px; }
  .job-container .job-thumbnail:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .job-container .detail-container {
    position: relative;
    overflow-wrap: break-word;
    padding-left: 15px;
    padding-right: 7.5px;
    width: calc(70% - 10px); }
    .job-container .detail-container .icon-text {
      margin-left: 1.5px;
      color: #666666;
      font-weight: 300; }
      .job-container .detail-container .icon-text i {
        font-size: 0.9em;
        margin-right: 8px;
        min-width: 5px; }
  .job-container .job-title {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 600;
    text-overflow: ellipsis; }
