@import '../../../styles/css_var';

$traffic-red: #990515;
$traffic-orange: #DF7800;
$traffic-blue: #134D9C;

.traffic {
  border-radius: 50%;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0px 6px -1.1px 0px;
}
.traffic-blue {background-color: $traffic-blue;}
.traffic-orange {background-color: $traffic-orange;}
.traffic-red {background-color: $traffic-red;}